{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div id="board">
		<form id="search_form" action="javascript:search({{nowpage}})" method="post">
			{% csrf_token %}
			<input type="text" id="kwd" name="kwd" value="{{kwd}}">
			<input type="submit" value="찾기">
		</form>
		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th>&nbsp;</th>
			</tr>


			{% for board in boardlist %}
				<tr>
					<!--<td>{{boardlist|length | sub:forloop.counter0}}</td>-->
					{% with subval=page_startindex|add:forloop.counter0|sub:1 %}
					<td>{{ totalcount | sub:subval }}</td>
					{% endwith %}
					<td style="text-align:left; padding-left: {{board.depth | mul:10}}px;">
						{% if board.depth > 0 %}
							<img style="width:15px;" src="/assets/images/reply.png" alt="reply"/>
						{% endif %}
						{% if board.delete == 1 %}
							삭제된 글 입니다.
						{% else %}
							{% if kwd == '' %}
								<a href="/board/{{nowpage}}/{{board.id}}">{{board.title}}</a>
							{% else %}
								<a href="/board/{{nowpage}}/{{board.id}}?kwd={{kwd}}">{{board.title}}</a>
							{% endif %}
						{% endif %}
					</td>
					<td>{{board.user.name}}</td>
					<td>{{board.hit}}</td>
					<td>{{board.regdate | date:'Y-m-d H:i:s'}}</td>
					<td>
						{% if board.user.id == request.session.authuser.id and board.delete == 0 %}

							<a href="/board/del/{{board.id}}" class="del">삭제</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}


		</table>
		<!-- pager 추가 -->
		<div class="pager">
			<ul>

				{% if b.hasprevious %}
					{% if kwd == '' %}
					<li><a href="/board/{{b.blockstartpage|sub:1}}">◀</a></li>
					{% else %}
					<li><a href="/board/{{b.blockstartpage|sub:1}}?kwd={{kwd}}">◀</a></li>
					{% endif %}
				{% else %}
					<li>◀</li>
				{% endif %}

				{% for page in b.range %}
					{% if page == nowpage %}
						{% if kwd == '' %}
						<li class="selected"><a href="/board/{{page}}">{{ page }}</a></li>
						{% else %}
						<li class="selected"><a href="/board/{{page}}?kwd={{kwd}}">{{ page }}</a></li>
						{% endif %}
					{% else %}
						{% if kwd == '' %}
							<li><a href="/board/{{page}}">{{ page }}</a></li>
						{% else %}
							<li><a href="/board/{{page}}?kwd={{kwd}}">{{ page }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}


				{% if b.hasnext %}
					{% if kwd == '' %}
						<li><a href="/board/{{b.blockendpage|add:1}}">▶</a></li>
					{% else %}
						<li><a href="/board/{{b.blockendpage|add:1}}?kwd={{kwd}}">▶</a></li>
					{% endif %}
				{% else %}
					<li>▶</li>
				{% endif %}

			</ul>
		</div>
		<!-- pager 추가 -->
		<div class="bottom">
			<a href="/board/writeform" id="new-book">글쓰기</a>
		</div>
	</div>
	<script>
		var search = function(nowpage) {
			console.log(nowpage);
			kwd = document.getElementById('kwd').value;
			console.log(kwd);
			document.getElementById("search_form").action = '/board/'+nowpage+'?kwd='+kwd;
			console.log(document.getElementById("search_form").action)
			document.getElementById("search_form").submit();
		}

	</script>
{% endblock %}