{% extends '../base.html' %}
{% load mathfilters %}

{% block csslink %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div id="board">
		<form id="search_form" action="" method="post">
			<input type="text" id="kwd" name="kwd" value="">
			<input type="submit" value="찾기">
		</form>
		<table class="tbl-ex">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>글쓴이</th>
				<th>조회수</th>
				<th>작성일</th>
				<th>&nbsp;</th>
			</tr>


			{% for board in boardlist %}
				<tr>
					<!--<td>{{boardlist|length | sub:forloop.counter0}}</td>-->
					{% with subval=b.startindex|add:forloop.counter0|sub:1 %}
					<td>{{ paginator.count | sub:subval }}</td>
					{% endwith %}
					<td style="text-align:left; padding-left: {{board.depth | mul:10}}px;">
						{% if board.depth > 0 %}
							<img style="width:15px;" src="/assets/images/reply.png" alt="reply"/>
						{% endif %}
						{% if board.delete == 1 %}
							삭제된 글 입니다.
						{% else %}
							<a href="/board/view/{{board.id}}">{{board.title}}</a>
						{% endif %}
					</td>
					<td>{{board.user.name}}</td>
					<td>{{board.hit}}</td>
					<td>{{board.regdate | date:'Y-m-d H:i:s'}}</td>
					<td>
						{% if board.user.id == request.session.authuser.id and board.delete == 0 %}
							<a href="/board/del/{{board.id}}" class="del">삭제</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}


		</table>
		<!-- pager 추가 -->
		<div class="pager">
			<ul>

				{% if b.hasprevious %}
					<li><a href="/board/{{b.blockstartpage|sub:1}}">◀</a></li>
				{% else %}
					<li>◀</li>
				{% endif %}

				{% for page in b.range %}
					{% if page == nowpage %}
						<li class="selected"><a href="/board/{{page}}">{{ page }}</a></li>
					{% else %}
						<li><a href="/board/{{page}}">{{ page }}</a></li>
					{% endif %}
				{% endfor %}


				{% if b.hasnext %}
					<li><a href="/board/{{b.blockendpage|add:1}}">▶</a></li>
				{% else %}
					<li>▶</li>
				{% endif %}

			</ul>
		</div>
		<!-- pager 추가 -->
		<div class="bottom">
			<a href="/board/writeform" id="new-book">글쓰기</a>
		</div>
	</div>
{% endblock %}